<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpxLRasLf5ZB87RMgeTxOfpd50bfzYrtE&libraries=places"></script>
  <script src="https://kit.fontawesome.com/9d6133daeb.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <title>SOS Bulgaria</title>
</head>

<body>
  <nav class="navbar navbar navbar-dark navbar-expand-lg" style="background-color: #000000">
    <div class="container">
      <div class="navbar-brand nav-logo">
        <img class="rounded" src="./img/logo.jpg" width="auto" height="50px" />
        <div class="nav-contacts">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <p>0899 / 773 232</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <p>022 / 23 232</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <p>sos@bulgaria.bg</p>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if(adminPanel===1) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin-panel">Управление на сайта</a>
            </li>
            <% } %>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Начало</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/manage-booking">Управление на поръчка</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Контакти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">За нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/<%= link %>">
                  <%= text %>
                </a>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid pt-5">
    <div class="container">
      <% if(!isLoggedIn){ %>
        <h1 class="text-center font-weight-bold ">УПРАВЛЕНИЕ НА ПОРЪЧКА</h1>
        <p class="text-center ">Предоставяме услуга за намиране и управление на поръчки чрез
          въвеждане на имейл адрес и номер на резервацията. С нас можете лесно да проследите вашата резервация и да я
          управлявате, където и да се намирате.</p>
        <div class="col-md-6 mx-auto my-3 ">
          <div class="col p-4 border">
            <h1 class="text-center">Намери поръчка</h1>
            <form class="form-group" id="find-quote">
              <input type="text" class="form-control" placeholder="Номер на поръчка">
              <input type="text" class="form-control mt-2" placeholder="Имейл">
              <button type="submit" class="d-flex btn mx-auto px-4 mt-4" style="background-color: #fff;">Намери</button>
            </form>
          </div>
        </div>
        <p class="text-center web-xs-small-font mt-2 pb-4">Управлявай лесно, бързо и удобно !</p>
        <% } else { %>

          <div class="row align-items-center">
            <div class="col-12">
              <h4 class="mb-4">Мойте поръчки</h4>
            </div>
            <div class="col-12">
              <div class="btn-group-vertical mb-4" role="group">
                <% userQuotes.forEach(function(quote) { %>
                  <button type="button" class="btn btn-outline-dark py-3 eachQuoteBtn" data-trace="<%= quote.traceID %>">
                    <%= quote.traceID.substr(1, 5).toUpperCase() %>
                  </button>
                  <% }); %>
              </div>
            </div>
          </div>

          <% } %>
    </div>
  </div>

  <%- include('layouts/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
    <script>
      // const btnsQuotes = document.querySelectorAll('.eachQuoteBtn')
      // btnsQuotes.forEach(btn => {
      //   btn.addEventListener('click', (e) => {
      //     e.preventDefault()
      //     fetch('/manage-booking', {
      //       method: 'POST',
      //       headers: {
      //         'Content-Type': 'application/json'
      //       },
      //       body: JSON.stringify([btn.getAttribute('data-trace')])
      //     })
      //       .then(response => response.json())
      //       .then(data => console.log(data))
      //       .catch(error => console.error(error));

      //   })
      // });
      const btnsQuotes = document.querySelectorAll('.eachQuoteBtn')
      btnsQuotes.forEach(btn => {
        btn.addEventListener('click', () => {
        window.location.href = `/manage-booking/booking/${btn.getAttribute('data-trace')}`;
        })
      });




//////////////////////////////////
const findBookingForm = document.getElementById('find-quote')
  //Find Booking
  findBookingForm.addEventListener('submit', async (e) => {
    e.preventDefault();;
    const inputBookingNumber = findBookingForm.querySelectorAll("input")[0];
    const inputBookingEmail = findBookingForm.querySelectorAll("input")[1];
    const quoteNumberFindValue = inputBookingNumber.value.toUpperCase();
    const quoteEmailFindValue = inputBookingEmail.value;
    const sendData = { quoteNumberFindValue: quoteNumberFindValue, quoteEmailFindValue: quoteEmailFindValue };
    const p = document.createElement("p");
    const existingP = findBookingForm.querySelector('p');
    //Моля попълнете полетата if empty
    if (quoteNumberFindValue === '' || quoteEmailFindValue === '') {
      if (!existingP) {
        p.textContent = 'Моля попълнете полетата';
        p.classList.add("text-center");
        findBookingForm.insertBefore(p, findBookingForm.firstChild);
      } else {
        existingP.textContent = 'Моля попълнете полетата'
      }
      return
    }
    try {
      const response = await fetch(`/manage-booking/booking/${quoteNumberFindValue}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(sendData)
      });
      const json = await response.json();
      if (json.orderID === undefined) {
        if (!existingP) {
          p.textContent = json.text;
          p.classList.add("text-center");
          findBookingForm.insertBefore(p, findBookingForm.firstChild);
        } else if (existingP.textContent = 'Моля попълнете полетата') {
          existingP.textContent = json.text
        }
      } else {
        window.location.href = `/manage-booking/booking/${json.orderID}`;
      }


    } catch (error) {
      console.error(error);
    }
  });



      
    </script>
</body>

</html>